/* layout */

body {
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

h2 {
    text-align: center;
}

header {
    text-align: center;
}

.select-buildings-container {
   display: flex;
   gap: 20px;
   justify-content: center;
   align-items: center;
}

.explosives-container {
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cost-container {
    margin: 0 auto;
    width: 400px;
}

.defense-item {
    background-size: cover;
    position: relative;
    width: 100px;
    height: 100px;
}

.defense-item-counter {
    position: absolute;
    margin: auto;
    top: 45%;
    right: 50%;
}

#clear-btn:hover, .defense-item, .raid-items {
    cursor: pointer;
}

.raid-items {
    width: 100px;
    height: 100px;
    background-size: cover;
}

.border {
    border: 2px solid red;
}

.hidden {
    display: none;
}